{% extends 'base.html.twig' %}

{% block title %}Hello MypageController!{% endblock %}

{% block body %}
name: {{app.user.name}}<br/>
email: {{app.user.email}}<br/>

<a href="/mypage/update">編集</a>
{% endblock %}
