{% block header %}
<header>
    <div class="header_container">
        <div class="header_top">
        </div>
        <div class="header_bottom">
            <div class="home_button">
                <a href="/">ホーム</a>
            </div>
            <div class="registration_button">
                <a href="/register">新規登録</a>
            </div>
        </div>
    </div>
</header>
{% endblock %}